aiohttp>=3.11.13
base58>=2.1.1
construct>=2.10.70
flask-wtf>=1.2.2
flask>=3.1.1
grpcio-tools>=1.71.0
grpcio>=1.71.0
protobuf>=5.29.4
pyyaml>=6.0.2
solana>=0.36.6
solders>=0.26.0
websockets>=15.0
wtforms>=3.2.1