# Main packages
aiohttp>=3.11.13
base58>=2.1.1
flask-wtf>=1.2.2
flask>=3.1.1
protobuf>=5.29.4
pyyaml>=6.0.2
solana>=0.36.6
solders>=0.26.0
websockets>=15.0
wtforms>=3.2.1

# Dependencies
borsh-construct>=0.1.0
construct>=2.10.67
construct-typing>=0.5.2

