{% extends "base.html" %}
{% block content %}
<div class="page-content">
    <div class="content-wrapper">
        <div class="content-inner mscroll">
            <div class="content d-flex justify-content-center align-items-center">
                <form class="login-form needs-validation" method="POST" novalidate>
                    {{form.csrf_token}}
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center mb-3">
                                <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                    <img src="{{url_for('static', filename='assets/images/logos/logo-icon.svg')}}" alt="logo">
                                </div>
                                <h5 class="mb-0">Login to your account</h5>
                                <span class="d-block text-muted">Enter your credentials below</span>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                            {{message}}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div class="mb-3">
                                {{form.username.label(class="form-label")}}
                                <div class="form-control-feedback form-control-feedback-start">
                                    {{form.username(class="form-control", placeholder="Enter your username", autocomplete="off")}}
                                    <div class="form-control-feedback-icon">
                                        <i class="ph-user-circle text-muted"></i>
                                    </div>
                                </div>
                                {% if form.username.errors %}
                                    <div class="text-danger small mt-1">{{form.username.errors[0]}}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{form.password.label(class="form-label")}}
                                <div class="form-control-feedback form-control-feedback-start">
                                    {{form.password(class="form-control", placeholder="•••••••••••", autocomplete="off")}}
                                    <div class="form-control-feedback-icon">
                                        <i class="ph-lock text-muted"></i>
                                    </div>
                                </div>
                                {% if form.password.errors %}
                                    <div class="text-danger small mt-1">{{form.password.errors[0]}}</div>
                                {% endif %}
                            </div>
                            <div class="mb-3">
                                {{form.submit(class="btn btn-primary w-100")}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% include 'parts/tailbar.html' %}
    </div>
</div>
{% endblock %}