{% extends "base.html" %}
{% block content %}
<div class="page-content">
    {% include 'parts/sidebar.html' %}
    <div class="content-wrapper">
        <div class="content-inner">
            {% include 'parts/breadcrumb.html' %}
            <div class="content">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Trades</h5>
                    </div>
                    <div class="card-body">
                        {% if not trades %}
                        <div id="trades-alert" class="alert alert-danger alert-icon-start alert-dismissible fade show mt-3">
                            <span class="alert-icon bg-danger text-white"><i class="ph-x-circle"></i></span>
                            <span class="fw-semibold me-1">Whoops !!</span>
                            <span>No trades found in the database.</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-sm table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th class="text-center">Mint</th>
                                        <th class="text-center">Started</th>
                                        <th class="text-center">Stopped</th>
                                        <th class="text-center">Duration</th>
                                        <th class="text-center">Open (SOL)</th>
                                        <th class="text-center">Close (SOL)</th>
                                        <th class="text-center">Amount</th>
                                        <th class="text-center">Total (SOL)</th>
                                        <th class="text-center">Profit (SOL)</th>
                                        <th class="text-center">Ratio</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody id="trades-body">
                                    {% if trades %}
                                        {% for trade in trades %}
                                            {% if trade.ratio is not none %}
                                                {% set ratio_str = trade.ratio ~ '' %}
                                                {% if ratio_str.startswith('-') %}
                                                    {% set rowclass = "text-danger" %}
                                                {% else %}
                                                    {% set rowclass = "text-success" %}
                                                {% endif %}
                                            {% else %}
                                                {% set rowclass = "" %}
                                            {% endif %}
                                            <tr class="{{ rowclass }}">
                                                <td class="text-start">{{ trade.mint }}</td>
                                                <td class="text-center">{{ trade.start | unixtodatetime }}</td>
                                                <td class="text-center">{{ trade.stop | unixtodatetime }}</td>
                                                <td class="text-center">{{ trade.duration }}</td>
                                                <td class="text-end">{{ trade.open }}</td>
                                                <td class="text-end">{{ trade.close }}</td>
                                                <td class="text-end">{{ trade.amount }}</td>
                                                <td class="text-end">{{ trade.total }}</td>
                                                <td class="text-end">{{ trade.profit | default('N/A') | formatdecimal(10) }}</td>
                                                <td class="text-end">{{ trade.ratio }}</td>
                                                <td class="text-center">{{ trade.status }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center text-muted" colspan="11">No trades history available yet.</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end pagination mt-4 mb-3">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if query > 1 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ query - 1 }}">&laquo;</a>
                                    </li>
                                    {% endif %}
                                    {% for p in pages %}
                                    <li class="page-item {% if p == query %}active{% endif %}">
                                        <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                    </li>
                                    {% endfor %}
                                    {% if query < nbrpages %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ query + 1 }}">&raquo;</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'parts/tailbar.html' %}
        </div>
    </div>
</div>
{% endblock %}