<div class="navbar navbar-sm navbar-footer border-top">
    <div class="container-fluid h-32px">
        <span>&copy; 2025 <a href="{{url_for('home')}}">{{projectname}}</a></span>
        <ul class="nav">
            <li class="nav-item">
                <div id="botStatus" class="{{'text-success' if botstatus else 'text-danger'}}">
                    <span>Status</span>
                    <span id="botAPImessage">{{'Running' if botstatus else 'Stopped'}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>